.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #202020;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #202020;
}
li {
  float: left;
}
ul span img{
  padding: 7px;
}
.fas.fa-search {
  color: #484848;
size: 8px;
}

/* .discover:hover {
  color: #BA55D3;
  text-decoration: underline;
  text-underline-position: under;
} */
.discover {
  color: #BA55D3;
  text-decoration: underline;
  text-underline-position: under;
}


.navbar-left li a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: block;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
  font-size: 14px;
}

@media screen and (max-width: 750px) {
  .navbar-left li a {
    display: none;
  }
  .navbar-left li i {
    display: block;
  }
}

@media screen and (min-width:750px) {
  .navbar-left li i {
    display: none;
  }
}

.navbar-left {
  flex-grow: 1;
}
.navbar-middle {
  flex-grow: 3;
}
.navbar-right {
  flex-grow: 1;
}
.navbar-middle input {
  border: none;
  position: inherit;
  margin-top: 8px;
  margin-left: 60px;
  width: 50%;
  background-color: #484848;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 10px;
  color: whitesmoke;
}
.navbar-middle input:focus {
  outline-width: 0;
  border: 2px solid purple;
  position: inherit;
  margin-top: 8px;
  width: 50%;
  background-color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 10px;
  color: whitesmoke;
}


@media screen and (max-width:850px) {
  .navbar-middle  input{
    display: none;
  }
  .navbar-middle button {
    float: right;
    background-color: #202020;
    margin-top: 6px;
    margin-right: 6px;
  }

  .navbar-middle button i {
    color: white;
  }
}


.threepoint {
  color: white;
  padding: 6px;
  margin-top: 10px;
}

.search-size {
  color: #484848;
  size: 8px;
}

button {
  background: #262626;
  color: white;
  border: none;
  padding: 10px;
}

.log-in {
  border: none;
  background-color: #484848;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 13px;
}

.sign-up {
  border: none;
  background-color:#8A2BE2;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 13px;
}




